{% extends 'base.html' %}  
{% block title %}Flipkart | Edit Profile{%endblock %} 
{% block body %}

<div class="container">
  <h2>Edit Profile</h2>
  {% for m in messages %}
  <div class="alert alert-danger">{{m}}</div>
  {% endfor %}

  <form  method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label for="">Mobile</label>
        <input type="number" name="mobile" class="form-control" value="{{userprofile.mobile}}" required>
    </div>
    <div class="mb-3">
        <label for="">Gender</label>
        <select name="gender" class="form-control" required>
            <option value="">Select</option>
            <option value="Male" {% if userprofile.gender == 'Male' %}selected{% endif %}>Male</option>
            <option value="Female" {% if userprofile.gender == 'Female' %}selected{% endif %}>Female</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="">Date Of Birth</label>
        <input type="date" name="dob" class="form-control" value="{{userprofile.dob|date:'Y-m-d'}}" required>
    </div>
    <div class="mb-3">
        <label for="">Photo</label>
        <input type="file" name="photo" class="form-control" required>
        {% if userprofile.photo %}
        <p>current photo</p>
        <img src="{{userprofile.photo.url}}" alt="{{userid}}" width="250" height="200" class="img-thumbnail"/>
        {% endif %}
    </div>
    <button class="btn btn-success" type="submit">Save Profile changes</button>
    <a href="{% url 'myprofile' %}" class="btn btn-danger">cancel</a>
  </form>
</div>

{% endblock %}