{% extends 'base.html' %} 
{% load static %} 
{% block title %}Flipkart | Product{%endblock %} 
{% block body %}

<div class="container">
    <div class="row">

        <div class="col-md-6 mt-3 text-center">
            <img src="{{product.images.url}}" alt="{{product.productname}}" width="500px" height="400px">
        </div>

        <div class="col-md-6 mt-3">
            <div class="card-header fw-bold">
                <div class="card-body">
                    <h5 class="card-title">{{product.productname}}</h5>
                    <p class="card-text text-success fw-bold">Special Price</p>
                    <p class="card-text">
                        <strong>RS: ₹ {{product.price}}</strong>
                    </p>
                    <p class="card-text">{{product.description}}</p>
                    <h3 class="card-text fw-bold">
                        Avaliable Quantity : {{product.quantity_available}}
                    </h3>
                    <p class="card-text fw-bold">Available Offers</p>
                    <ul>
                        <li>Bank offer 10% Debit/Credit</li>
                        <li>Bank Offer 50% unlimited cashback</li>
                        <li>No cost Emi 3,333/month</li>
                    </ul>
                    <a href="{% url 'addtocart' product.productid %}" class="btn btn-primary">Add To Cart</a>
                    <a href="{% url 'addtowishlist' product.productid %}" class="btn btn-success">Add To Wishlist</a>
                    <a href="/" class="btn btn-danger">Back</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}